name: CI_ACTION

env: 
  Application_Name: ACTION
  Package_Name: Deploy ver - ${{ github.sha}}

on:
  push:
   branches: main
   # Allows you to run this workflow manually from the Actions tab - workflow_dispatch:

jobs:

  Massage:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it - uses: actions/checkout@v1
      - name: Task_No1
        run : echo Hello, world!
        
      - name: Task_No2
        run : |
          echo See 
          echo The power is your
  
  List:
    runs-on: ubuntu-latest
    needs: Massage
    steps:
      - name : PRINT
        run : echo Deploy_name {{ env.Package_Name }}
        
      - name : ADD
        uses: actions/checkout@v1
      
      - name : LS
        run  : ls -la
  
  
